@import "tailwindcss";

body{
  overflow-x: hidden;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  position: relative;
  background: #000;
  color: white;

}